body{
  background:#ffffff;

      font-family: 'Oswald', sans-serif;
      fill:#575757;
}

text.statelabel {
    font-size: 0.8rem;
    text-anchor:middle;
    fill:#373737;
}
#value-simple{
  visibility:hidden;
  display:none;
}
#heading{
  display: flex;
}
#quotes{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  height:60px;
}
#titles{
  display: flex;
  flex-direction: column;

}

h1{
  width:100%;
  display:inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #04629a;
  margin:0px;
  /*padding-left: 5%;*/
  padding-top:0px;
  padding-bottom:0px;
}

h2{
  width:100%;
  display:inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  color: #7A7A7A;
  margin:0px;
  /*padding-left: 5%;*/
  padding-top:5px;
  padding-bottom:0px;
}
#intro{
  font-family: "Noto Sans Display",sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #575757;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#yearDisplayed{

  /*width:100%;*/
  display:inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  color: #f08080;
  padding-top:5px;
  padding-left: 5%;

}


#play-button {
  position: relative;
  top: -5px;
  left: 100px;
  background: #f08080;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 25px;
}

#play-button:hover {
  background-color: #696969;
}    

.reload {
  position: relative;
  left: 125px;
  font-family: Lucida Sans Unicode;
  font-size: 1.5em;
  font-weight: 100;
  color:#575757;
  cursor: pointer;
}

.reload:hover{
  opacity:0.5;
}

.tick {
  stroke:#979797;
  stroke-width: 0.25;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 0.85rem;
}

.domain{
  stroke:none;
}

#legend{
  position: relative;
  padding-left:5%;
  margin-top:5px;
  font-family: "Noto Sans Display",sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  color: #575757;
}

.dot {
  height: 15px;
  width: 15px;
  border:#aaa;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
}

.low{

  background-color: #EC6687;
}
.high{

  background-color: #27B499;
}


div.tooltip {
    position:absolute;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-top: -1.25em;
    padding: 0.5em 0.5em;
    font-family: 'Oswald', sans-serif;
    /*white-space: nowrap;*/
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #04629a;
    background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    /*transform: translate(-5%,-5%);*/

    z-index:22;
}
#controls{
  display: block;
}
#chart{
  position:relative;
  z-index:21
}
div.annotation {
    position:absolute;
    top: 5%;left:50%;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-top: -1.25em;
    padding: 0.5em 0.5em;
    font-family: "Noto Sans Display",sans-serif;
    /*white-space: nowrap;*/
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #575757;
    background-color: rgba(255,255,255,0.75);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    /*transform: translate(-5%,-5%);*/

    z-index:20;
}

#OECDLogo{
  display:block;
  float:right;
  height:30px;
  margin:5px;
}

@media only screen and (max-width: 800px) {

  #quotes{
    height:80px;
  }
  #OECDLogo{
    height:20px;
    top: 20px;
    left: 5px;
  }
}

@media only screen and (max-width: 600px) {

  #quotes{
    height:90px;
  }
  #OECDLogo{
    height:25px;
    top: 10px;
    left: 5px;
  }
}